/* line 15, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* line 23, ../sass/style.scss */
.logoBusquedaHamburguesa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  position: sticky;
}

/* line 30, ../sass/style.scss */
.logo {
  background-color: black;
  width: 95px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
/* line 36, ../sass/style.scss */
.logo .imagenLogo {
  width: 37px;
  height: auto;
}

/* line 42, ../sass/style.scss */
.buscador {
  width: 100%;
  height: 75px;
  background-color: white;
}

/* line 48, ../sass/style.scss */
.hamburguesa {
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px grey solid;
  background-color: white;
  display: none;
}
/* line 55, ../sass/style.scss */
.hamburguesa svg {
  width: 20px;
  height: auto;
  fill: grey;
}

/* line 62, ../sass/style.scss */
.botoneraYContenido {
  display: flex;
  flex-direction: row;
}

/* line 67, ../sass/style.scss */
.botonera {
  width: 95px;
  height: 380px;
  top: 75px;
  position: sticky;
}

/* line 73, ../sass/style.scss */
.botones {
  width: 95px;
  height: 95px;
  border: #E0DAD8 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 78, ../sass/style.scss */
.botones .botonAgrupado {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 82, ../sass/style.scss */
.botones svg {
  width: 20px;
  height: auto;
  fill: grey;
}
/* line 87, ../sass/style.scss */
.botones span {
  font-size: 10px;
  font-weight: 300;
  color: grey;
  margin-top: 10px;
}

/* line 95, ../sass/style.scss */
.contenido {
  width: calc(100% - 95px);
}
/* line 97, ../sass/style.scss */
.contenido .imgApertura {
  width: 100%;
  height: 380px;
  overflow: hidden;
  background-image: url(../imagenes/batman.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 105, ../sass/style.scss */
.contenido .imgApertura .tituloTheMovieDBAPP {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 28px;
  position: relative;
}

/* line 124, ../sass/style.scss */
.encabezadoCategorias {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 133, ../sass/style.scss */
.encabezadoCategorias h3 {
  font-weight: 300;
}
/* line 136, ../sass/style.scss */
.encabezadoCategorias p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .5px;
  color: rgba(8, 28, 36, 0.5);
}

/* line 144, ../sass/style.scss */
.contenedorImagenesPelis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 0;
}
/* line 150, ../sass/style.scss */
.contenedorImagenesPelis .pelicula {
  width: 20%;
  height: 285px;
  list-style: none;
  margin-right: 70px;
  background-color: aqua;
}
/* line 157, ../sass/style.scss */
.contenedorImagenesPelis .peliculaParaHome {
  width: 20%;
  height: 285px;
  list-style: none;
  background-color: aqua;
}

/* line 165, ../sass/style.scss */
.contenedorTitulosPelis {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 0;
}
/* line 170, ../sass/style.scss */
.contenedorTitulosPelis .titulo {
  width: 20%;
  height: 60px;
  list-style: none;
  margin-right: 70px;
  font-size: 14px;
  letter-spacing: .5px;
  color: rgba(8, 28, 36, 0.5);
  font-weight: 300;
}
/* line 180, ../sass/style.scss */
.contenedorTitulosPelis .tituloParaHome {
  width: 20%;
  height: 60px;
  list-style: none;
  font-size: 14px;
  letter-spacing: .5px;
  color: rgba(8, 28, 36, 0.5);
  font-weight: 300;
}
